design-patterns.iml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
uml/design-pattems/design-pattems.prj
uml/design-pattems/design-pattems.pjb
uml/design-pattems/design-pattems.oom
uml/design-pattems/Workspace.sws
.idea/vcs.xml
